.palm-robot {
    left: 180px;
    top: -50px;
}

.arm-robot {
    left: 0px;
    top: 200px;
}

.palm-human {
    right: 30px;
    top: -120px;
}

.arm-human {
    right: -30px;
    top: 200px;
}

h1 {
    color: #FFF;
    text-align: center;
    
    /* 1 */
    text-shadow: 4px 4px 0px #000;
    -webkit-text-stroke-width: 2;
    -webkit-text-stroke-color: #000;
    font-family: "Seymour One";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#credit p {
    text-align: center;
    font-family: "Seymour One";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#credit p a {
    text-decoration: none;
}


.player .player-score {
    color: #FFF;
    text-align: center;

    /* 1 */
    text-shadow: 4px 4px 0px #000;
    -webkit-text-stroke-width: 2;
    -webkit-text-stroke-color: #000;
    font-family: "Seymour One";
    font-size: 130px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.player .player-name {
    color: #FFF;
    text-align: center;
    
    /* 1 */
    text-shadow: 4px 4px 0px #000;
    -webkit-text-stroke-width: 2;
    -webkit-text-stroke-color: #000;
    font-family: "Seymour One";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -4.8px;
}

.player-choice-container button {
    background-color: inherit;
    border: none;

    padding: 0;
    margin: 0;
}

.choice-option-image {
    background-position: center bottom;

    width: 220px;
    height: 250px;
    
    object-fit: cover;
    overflow: hidden;

    transition: all 1s ease-in-out;
}


#btn-rock .choice-option-image{
    background-image: url('../assets/rock-idle.png');
}

#btn-rock .choice-option-image:hover {
    background-image: url('../assets/rock-hover.png');
    cursor: pointer;
}

#btn-paper .choice-option-image{
    background-image: url('../assets/paper-idle.png');
}

#btn-paper .choice-option-image:hover {
    background-image: url('../assets/paper-hover.png');
    cursor: pointer;
}

#btn-scissors .choice-option-image{
    background-image: url('../assets/scissors-idle.png');
}

#btn-scissors .choice-option-image:hover {
    background-image: url('../assets/scissors-hover.png');
    cursor: pointer;
}

